---
import type { InferGetStaticParamsType, GetStaticPaths } from "astro";
import Layout from "@/layouts/Layout.astro";
import { cva } from "class-variance-authority";

export const columnList = [
  { title: "全部", column: undefined },
  { title: "Astro", column: "astro" },
];

const columnCva = cva(
  "no-underline cursor-pointer px-3 py-2 rounded-md text-center text-sm",
  {
    variants: {
      intent: {
        default: ["bg-[var(--btn-plain-bg)]"],
        active: ["text-white", "bg-[var(--primary)]"],
      },
    },
    defaultVariants: {
      intent: "default",
    },
  }
);

export const getStaticPaths = (async () => {
  return columnList.map(({ column }) => ({
    params: { column },
  }));
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;

const { column: columnPath } = Astro.params as Params;

const BASE_URL = import.meta.env.BASE_URL;
---

<Layout title="项目">
  <ul
    class="flex flex-row flex-wrap items-center justify-start gap-4 border-b border-b-[var(--content-border)] px-4 py-4 md:px-6 md:py-10"
  >
    {
      columnList.map(({ title, column }) => {
        let intent: "default" | "active" = "default";
        if (column === columnPath) intent = "active";
        return (
          <li class="flex">
            <a
              href={`${BASE_URL}/columns${column ? "/" + column : ""}`}
              class={columnCva({ intent })}
            >
              {title}
            </a>
          </li>
        );
      })
    }
  </ul>
</Layout>
